.container {
  display: flex;
  justify-content: center;
  align-items: center;
   height: calc(100vh - 57px);
  
}
.card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 420px;
    padding: 2rem;
   border: 1px solid rgba(255, 255, 255, 0.08);
     border-radius: 2rem;
}
.username{
    display: flex;
    gap: 3.5rem;
    margin: 20px 10px 20px;
}
.password{
    display: flex;
    gap: 2rem;
    margin: 20px 10px 20px;
}
.flex-btn1{
    display: flex;
    position: relative;
    justify-content: center;
     margin: 20px 10px 20px;
     width: 100%;
}
.flex-btn2{
        display: flex;
    position: relative;
    justify-content: center;
     margin: 20px 10px 20px;
     width: 100%;
}

